h1 {
	text-align: center;
	font-size: 4rem;
	margin-bottom: 20px;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#grid {
	height: 500px;
	width: 500px;
	border: 2px solid black;
	margin-bottom: 30px;
}

#settings {
	display: flex;
	gap: 20px;
}

#settings > button {
	font-size: 1.75rem;
	padding: 0.25em 0.5em;
}

#grid-size {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
}

#grid-size > p {
	margin: 0;
	font-size: 24px;
}

#slider {
	-webkit-appearance: none;
	width: 200px;
	height: 12px;
	background: #d3d3d3;
	opacity: 0.7;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
	margin: 12px 0;
}

#slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	background: rgb(0, 0, 0);
	cursor: pointer;
	border-radius: 10px;
}

#size-value {
	font-size: 20px;
}
